Repository palazzem/econnect-python, pull requests merged in 2021-08, with the labels that each got.

#55 Add support for selective exclusion and readmission of inputs
  elmo/api/client.py
  elmo/api/exceptions.py
  tests/test_client.py
Labels: community, component/client, kind/feature

#70 Updated development dependencies
  requirements/requirements-linting.txt
  requirements/requirements-testing.txt
Labels: dev/testing

#71 Remove check() API
  README.md
  elmo/api/client.py
  tests/test_client.py
Labels: component/client

#72 Refactor query() API so that a raw query (dict) is returned; add "excluded" field to returned dict
  elmo/api/client.py
  tests/conftest.py
  tests/test_client.py
Labels: kind/enhancement, component/client

#73 query() API returns also "last_id" field; items are grouped under "sectors" or "inputs" keys
  elmo/api/client.py
  tests/test_client.py
Labels: kind/enhancement, component/client

#74 Include `status` field in query() API
  elmo/api/client.py
  tests/test_client.py
Labels: kind/enhancement, component/client
