Repository palazzem/econnect-python, pull requests merged in 2023-10, with the labels that each got.

#118 refactor!: add `query.ALERTS` to query the system
  src/elmo/api/client.py
  src/elmo/query.py
  tests/test_client.py
Labels: topic:client, type:refactor

#119 refactor!: modify the response for `query.ALERTS`
  src/elmo/api/client.py
  tests/test_client.py
Labels: topic:client, breaking change, type:refactor

#120 refactor: delete unused def _filter_data
  src/elmo/utils.py
  tests/test_utils.py
Labels: topic:client, type:refactor

#123 ci: write xml coverage report to support coveralls
  README.md
  pyproject.toml
  src/elmo/api/client.py
  tests/test_client.py
  tox.ini
Labels: topic:tests

#125 feat: add `last_id` for alerts poll
  src/elmo/api/client.py
  tests/test_client.py
Labels: type:bug, topic:client
